@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Lato:wght@300&display=swap");
.header {
  background-image: url("../img/type_butterfly_header.jpeg");
  color: #f8f7ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 25vh;
  padding: 0 20px; }

.footer {
  font-family: lato, sans-serif;
  background-color: #457b9d;
  color: white;
  font-size: 20px;
  font-family: lato, sans-serif;
  font-weight: bold;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  margin-top: 20vh; }

* {
  margin: o;
  padding: 0; }

.card {
  background-color: #edf2f4; }

/*Bucles*/
.h1 {
  color: #2b2d42;
  font-size: 25vh; }

.image-1 {
  width: 25vh;
  height: auto; }

.h2 {
  color: #2b2d42;
  font-size: 12.5vh; }

.image-2 {
  width: 12.5vh;
  height: auto; }

.h3 {
  color: #2b2d42;
  font-size: 8.33333vh; }

.image-3 {
  width: 8.33333vh;
  height: auto; }

.h4 {
  color: #2b2d42;
  font-size: 6.25vh; }

.image-4 {
  width: 6.25vh;
  height: auto; }

.h5 {
  color: #2b2d42;
  font-size: 5vh; }

.image-5 {
  width: 5vh;
  height: auto; }

.h6 {
  color: #2b2d42;
  font-size: 4.16667vh; }

.image-6 {
  width: 4.16667vh;
  height: auto; }

.var {
  color: red;
  height: 12.5vh; }

.var {
  color: blue;
  height: 12.5vh; }

.var {
  color: green;
  height: 12.5vh; }

.var {
  color: white;
  height: 12.5vh; }

.social-twitter {
  background-image: url("img/var.png"); }

.social-youtube {
  background-image: url("img/var.png"); }

.icon-social, .btn--twitter:hover, .btn--youtube:hover {
  font-size: 2.5rem;
  padding: 1.5rem; }

/*bucle para valores del mapa*/
:hover.btn--twitter {
  background-color: #03045e; }

:hover.btn--youtube {
  background-color: #03045e; }

.box {
  height: 50px;
  width: 500px;
  background-color: #03045e; }

.social {
  background-color: #caf0f8;
  width: 50px;
  position: absolute;
  top: 45vh;
  right: 20px; }
  .social ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .social ul li {
      transition: all 0.5s ease; }
      .social ul li a {
        color: #03045e;
        text-decoration: none;
        font-size: 1.5rem; }
    .social ul:hover {
      transform: scale(1.4); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* body */
body {
  background-color: #f8f7ff;
  font-family: lato, sans-serif; }

.navbar {
  border-radius: 10px; }

.container .box {
  border-radius: 12px; }

.container .box-2 {
  border-radius: 12px; }

.container .carr-box {
  color: #14213d;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px; }

.container .img-carr {
  border-radius: 15px; }

.container .img-bio {
  width: 85vh;
  border-radius: 10px; }

.referencias {
  text-decoration: none;
  color: #013a63; }

.referencias-carr {
  text-decoration: none;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 380px; }

.carr-title {
  text-decoration: none;
  color: white; }

.text-pod {
  font-size: 50px;
  font-weight: bold; }

/* FOOTER */
