@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Lato:wght@300&display=swap");
.header {
  background-image: url("../img/type_butterfly_4.jpeg");
  color: #f8f7ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 25vh;
  padding: 0 20px; }

.footer {
  font-family: lato, sans-serif;
  background-color: #457b9d;
  color: white;
  font-size: 20px;
  font-family: lato, sans-serif;
  font-weight: bold;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  margin-top: 20vh; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* body */
body {
  background-color: #f8f7ff;
  font-family: lato, sans-serif; }

.navbar {
  border-radius: 10px; }

.container .box {
  border-radius: 12px; }

.container .box-2 {
  border-radius: 12px; }

.container .carr-box {
  color: black;
  font-size: 20px; }

.container .img-carr {
  border-radius: 15px; }

.container .img-bio {
  width: 85vh;
  border-radius: 10px; }

.referencias {
  text-decoration: none; }

.referencias-carr {
  text-decoration: none;
  color: white;
  font-size: 50px; }

.text-pod {
  font-size: 50px;
  font-weight: bold; }

/* FOOTER */
