
.header {
    background-color: #f5f5f5;
    background-image: url("../img/background_header.jpeg");
    border-radius: 15px;
    color: #f8f7ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 25vh;
    padding: 0 20px;
}