.typo-bio {
    font-size: 20px;
    
}

.typo-titlebio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.typo_pod {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #219ebc;
}