
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Lato:wght@300&display=swap');
@import "_header";
@import "_footer";
@import "_variables";
@import "_generales";
@import "_social";
@import "_typo-bio"

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body {
    background-color: #f8f7ff;
    font-family: lato, sans-serif;
}

.navbar {
    border-radius: 10px;
}


.container {

    .box {
      
        border-radius: 12px;
    }
    .box-2 {
       
        border-radius: 12px;
    }

    .carr-box {
        color: #14213d;
        font-size: 20px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
    }
    
    .img-carr {
        border-radius: 15px;
    
    }

    .img-bio {
        border-style:groove;
        border-radius: 20px;   
    }

    .title_art_text {
        text-decoration: none;
        color: #023047;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 15px;
        padding-left: 5px;
    }

    .bookbutton {
        color: white;
        text-decoration: none;
    }
}

.referencias {
    text-decoration: none;
    color: #013a63;
}

.referencias-carr {
    text-decoration: none;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 380px;
}

.carr-title {
    text-decoration: none;
    color: white;
}

.text-pod {
    font-size: 50px;
    font-weight: bold;
}




/* FOOTER */



